<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home/min20120907/Desktop/aiot_archi/templates/style.css">
    <title>Fancy Login</title>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lc007IpAAAAAKG6v0eFa2POcb6jKnIcy8Kr1ejr">
        function onSubmit(token) {
          document.getElementById("myLoginForm").submit();
        }
    </script>
</head>
<body>
  <div class="container">
    <h1 class="logo">Water monitor interface</h1>
    <form class="login-form" id="myLoginForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder= "Enter your username" > <br> <br> <!--It can place the required back to the placeholder -->
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" style="width: 178px;">
      <div class="checkbox-container">
        <input type="checkbox" id="remember-me">
        <label for="remember-me">Remember Me</label> <br> <br>
      </div>
      <button type="submit" style="width: 275px; height: 50px;" class="g-recaptcha"
        data-sitekey="6Lc007IpAAAAAKG6v0eFa2POcb6jKnIcy8Kr1ejr"
        data-callback='onSubmit'
        data-action='submit'>Login
      </button>
      <a href="http:163.13.127.50:5000/forget_passwd">Forgot Password?</a> <br> <br>
      
      <form>
        <button style="width: 275px; height: 50px;" formaction="http://163.13.127.50:5000/register">Create new account</button>
      </form>
    
      </form>
      
    </form>
  </div>
</body>
</html>
